.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.btn:hover,
.btn:focus {
  opacity: .6;
}

.btn:active {
  transform: translateY(1px);
  filter: saturate(150%);
}