.form__button {
  width: 100%;
  min-height: 50px;
  padding: 0;
  background-color: #000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;  
}

.form__button:hover,
.form__button:focus {
  opacity: .6;
}

.form__button:active {
  transform: translateY(1px);
  filter: saturate(150%);
  outline: none;
}